.contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 990px;
    color: #DAFBE2;
}
.contactForm{
    width: 33%;
    height: 70%;
    background-color: #141316;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 7px 7px 5px #888888;
}
.contacts{
    width: 33%;
    height: 70%;
    background-color: #141316;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 7px 7px 5px #888888;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contacts h2, .contactForm h2{
    color: #61ED84;
    display: flex;
    justify-content: center;
    font-size: 2em;
}
.contactsContent{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
}
.owner{
    background-color: #141316;
    color: #DAFBE2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #61ED84;
    border-radius: 30px;
    box-shadow: 3px 3px 7px #61ED84;
}
.owner p{
    width: 70%;
    display: flex;
    justify-content: center;
}
.owner img{
    width: 30%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 2px solid #DAFBE2;
}
.contactIcons{
    display: flex;
    justify-content: space-around;
    font-size: 3em;
}
.fa-instagram, .fa-facebook, .fa-twitter{
    cursor: pointer;
}
.contactsInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
table, th, td {
    border: 2px solid #61ED84;
}
table{
    width: 50%;
}
.formContent{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    margin-left: 10%;
}
.formDiv{
    height: 70%;
    display: flex;
}
.form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.submitButton{
    margin-top: 25px;
}
input, textarea{
    background-color: #DAFBE2;
}
.formText{
    border-bottom:2px solid #DAFBE2;
    padding: 15px;
}
.buttonDiv{
    display: flex;
    justify-content: center;
}
.buttonDiv input{
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: #61ED84;
    cursor: pointer;
}
label{
    color: #61ED84;
}
@media only screen and (max-width: 1000px) {
    .contactContainer{
        flex-direction: column;
        height: 1600px;
        justify-content: space-between;
    }
    .contactForm, .contacts{
        height: 45%;
        width: 80%;
    }
}