.navbar{
    background-color: #141316;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;
    box-shadow: 7px 7px 5px #888888;
}
.navbar li{
    float:right;
    list-style: none; 
    margin: 13px 20px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 8px 8px;
    text-decoration: none;
    font-size: 30px;
    color: #DAFBE2;
}
.navbar li a:hover{
    color: #61ED84;
}
.navbar li a:focus{
    color: #61ED84;
}
.logo{
    height: 6em;
}
.navHeading{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainTitle{
    color: #61ED84;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
@media only screen and (max-width: 840px) {
    .navbar{
        flex-direction: column;
    }
    .navHeading{
        width: 100%;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 400px) {
    .logo{
        display: none;
    }
    .mainTitle{
        font-size: 1.9em;
        padding-left: 0;
    }
}